<!-- Kyle Chesney, 2019 -->

<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='audio.js') }}" ></script>
<script>
 var volume = '{{ volume }}';
</script>

<body>

    {% include 'navbar.html' %}

    <h1>Homepage</h1>
    <h2>Volume control</h2>
    <button name ="vol" type="submit" value="MVLDOWN" onclick="sendOnkyoCommand(this)">Volume down</button>
    <button name ="vol" type="submit" value="MVLUP" onclick="sendOnkyoCommand(this)">Volume up</button>

    <div style="text-align:center;">
    <h2>- +</h2>
    <input id="vol_slider" name="vol" type="range" min="-5" max="5" value="0" oninput="slideCommand(this)" onchange="returnSlider()" />
    <button name ="vol" type="submit" value="AMTTG" onclick="sendOnkyoCommand(this)">Mute</button>
    </div>

    <h2>Lights</h2>

    <h3>Living Room</h3>
    <!-- TODO: CSS grid for this, vertically align on and off or set to toggle-->
    <button name ="lights/bookcase" type="submit" value="0" onclick="sendMQTT(this)">Light off</button>
    <button name ="lights/bookcase" type="submit" value="1" onclick="sendMQTT(this)">Light on</button>

    <h3>Bedroom</h3>
    <button name ="lights/bedside" type="submit" value="0" onclick="sendMQTT(this)">Light off</button>
    <button name ="lights/bedside" type="submit" value="1" onclick="sendMQTT(this)">Light on</button>

    <h2>Climate control</h2>

    <h3>AC</h3>
    <!-- TODO: hack AC once IR receiver arrives -->
    <button name ="climate/ac_control" type="submit" value="0" onclick="sendMQTT(this)">AC off</button>
    <button name ="climate/ac_control" type="submit" value="1" onclick="sendMQTT(this)">AC on</button>


</body>
