<style>
 .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: var(--color-s2-0);
 }
 .navbar li { float: left; }
 .navbar li a {
     display: block;
     color: var(--color-c4);
     text-align: center;
     padding: 0.5em 1em;
     text-decoration: none;
 }
.navbar li a:hover { background-color: var(--color-s1-0);}

</style>

<meta charset="UTF-8" />

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="tv-control">TV</a></li>
        <li><a href="sound-control">Audio</a></li>
        <li><a href="lighting">&#xF914; Lighting</a></li>
        <li><a href="vlc-control">VLC</a></li>
    </ul>
</div>
